
td {
	width: 100px;
	height: 100px;
	text-align: center;
}

.odd {
	background-color: rgba(175, 79, 0, 0.651);
}

.even {
	background-color: rgb(59, 34, 1);
}

img {
	width: 80px;
	height: 80px;
}

.selected {
	background-color: magenta;
}

.movable {
	background-color: rgb(255, 203, 255);
}